@import '../../../assets/variables.scss';

.picker {
    display: grid;
    width: 700px;
    margin: 50px auto;
    grid-template-columns: auto;
    text-align: center;
}



.voice {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px 20px;
    background: #FFACC6;
    border: 2px solid #FF3B78;
    box-shadow: 1px 4px 4px 0px rgba(160, 160, 160, 0.33);
    color: #FF3B78;
    font-weight: 700;
    cursor: pointer;
}

.card {
    width: 320px;
    border-radius: 9px;
    box-shadow: 1px 4px 4px 0px rgba($color: #a0a0a0, $alpha: 0.33);
    text-align: center;
    margin: auto;
    cursor: pointer;

    > .btn {
        margin: 0 auto 20px auto;
    }
}

.red {
    grid-column: 1;
    background: $gradient-red;
}

.blue {
    grid-column: 2;
    background: $gradient-blue;
}

input[type="file"] {
    display: none;
}

.url {

    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;

    > span:first-child {
        background: $gradient-red;
        border: 2px solid $accent-red;
    }

    > input {
        width: 400px;
        margin-top: 50px;
        border: 2px solid $accent-red;
        border-left: none;
        border-right: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: $text-black;
        background-color: #f5f5f5;
    }

    > * {
        transition: .3s ease;
        padding: 10px 20px;
        display: inline-block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
    }

    &:focus-within {
        > span:first-child {
            background: $gradient-blue;
        }

        > span, * {
            border-color: $accent-blue;
        }

        .btn {
            color: $accent-blue;
        }
    }
}

.options {
    width: 100%;
    margin-top: 50px;
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;

    .options_lang, .options_service, .options_speakers, .options_type {
        margin-top: 10px;
    }

    .options_type {
        display: grid;
        grid-template-columns: auto 25px;
        align-items: center;
    }

    .options_type_help {
        width: 10px;
        height: 20px;
        border: 2px solid $accent-red;
        border-radius: 20px;
        text-align: center;
        background-color: #f5f5f5;
        padding: 5px;
    }

    .options_type_help_text {
        margin-top: 10px;
        padding: 10px;
        text-align: left;

        .title {
            font-size: 16px;
        }

        i {
            letter-spacing: 2px;
        }
    }
}

.form_field {
    border: 2px solid $accent-red;
    border-radius: 5px;
    padding: 10px ;
    padding-bottom: 0px;
    width: 95%;
}

.start_button {
    margin: 10px auto -10px auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

mat-option, mat-select, mat-form-field {
    // color: $accent-red !important;
    font-family: "Montserrat", sans-serif !important;
    background-color: #f5f5f5;
}
