<div *ngIf="conferenceStarted; then conferenceYes else conferenceNo"></div>
<ng-template #conferenceYes>
    <div class="paddings">
        <div class="conference">
            <div class="conference_name">
                <p>
                    Конференция: {{conferenceName}} [{{conferenceId}}]
                </p>
                <p>
                    Ваше имя: {{participantName}} <span *ngIf="isHost">[организатор]</span>
                </p>
                <div class="connect_link" [cdkCopyToClipboard]="linkToConnect">
                    Скопировать ссылку на подключение
                </div>
            </div>
            <div class="btn btn-primary conference_end" (click)="end()">
                Завершить
            </div>
        </div>

        <div *ngFor="let tran of trans">
            <p [style]="tran['style']">{{tran.name}}: {{tran.value}}</p>
        </div>

        <audio id="player"></audio>
    </div>
</ng-template>
<ng-template #conferenceNo>
    <div class="conference_none">
        Конференция кончилась
    </div>
</ng-template>