<div class="center_block">
    <div *ngIf="user; then profile else entering"></div>
    <ng-template #entering>
        <div *ngIf="isSignIn; then signin else signup"></div>
        <ng-template #signin>
            <input type="text" placeholder="login" #login>
            <input type="password" placeholder="password" #password>
            <div class="btn btn-secondary" (click)="signIn(login.value, password.value)">
                Войти
            </div>
            <div class="btn btn-primary" (click)="isSignIn = false" style="margin-top: 40px;">
                Зарегистрироваться
            </div>
            <div class="btn btn-secondary" (click)="signInWithGoogle()" style="margin-top: 40px;">
                Войти через Google
            </div>
            <div class="btn btn-secondary" (click)="signInWithVk()">
                Войти через Vk
            </div>
            <div class="btn btn-secondary" >
                <a href="https://github.com/login/oauth/authorize?client_id=d69e73d6db9391f25ba4">Войти через Github</a>
            </div>
        </ng-template>
        <ng-template #signup>
            <div class="btn btn-secondary" (click)="isSignIn = true">Уже есть аккаунт</div>
        </ng-template>
    </ng-template>
    <ng-template #profile>
        <div style="text-align: center;">
            <img [src]="user.photoUrl">
            <br>
            <span>{{user.name}}</span>
            <br>
            <span>{{user.email}}</span>
        </div>
        <div class="btn btn-secondary" (click)="signOut()">
            Выйти из аккаунта
        </div>
    </ng-template>

</div>