@import '../../../assets/variables.scss';


.center_block {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -60%);
    height: 50%;
    width: 100%;
    background: linear-gradient(130deg, $gradient-red 55%, $gradient-blue 75%);
    background-repeat: no-repeat;
    box-shadow: 0px -2px 4px 0px rgba(160, 160, 160, 0.33), 0px 2px 4px 0px rgba(160, 160, 160, 0.33);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    display: block;
    border: 2px solid $accent-blue;
    border-radius: 5px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    caret-color: $accent-blue;
    color: $accent-blue;

    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin: 5px;

    margin-left: auto;
    margin-right: auto;

    > a {
        text-decoration: none;
        color: $accent-blue;
        
        &:visited {
            color: $accent-blue;
        }
    }
}