// Global variables

// Grid template
$default-grid: 25% 60% 1fr;

// Colors
$text-black: #222222;

$accent-red: #FF3B78;
$accent-blue: #00AAFF;
$gradient-red: #FFACC6;
$gradient-violet: #EBD0F0;
$gradient-blue: #B6E0F5;
