<div>
    <div class="start-board">
        <div class="large-header">Summary – your personal assistant</div>
        <div class="btn btn-primary" routerLink="/upload">Начать работу</div>
    </div>

    <div class="market-board grad-1">
        <div>
            <div>
                <div>
                    <div class="small-header">Расшифруйте любой голос</div>
                    <div class="regular-text">Summary позволит получить расшифровать аудио или видео, приложив к этому минимум усилий.</div>
                </div>
            </div>
            <div>
                <img src="../../../assets/images/wave.png" />
            </div>
        </div>
    </div>

    <div class="market-board">
        <div class="second">
            <div>
                <img src="../../../assets/images/sofa.png" />
            </div>
            <div>
                <div style="padding-left: 40px;">
                    <div class="small-header">Работайте с удовольствием</div>
                    <div class="regular-text">Теперь благодаря удобному интерфейсу Summary вы можете позволить себе не отвлекаться на переключение мужду окнами.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ready">
        <div>
            <div class="large-header">Готовы к удобой работе?</div>
            <div class="btn btn-primary" routerLink="/upload">Приступить</div>
        </div>
    </div>

    <div class="route">
        <div class="small-header">С чего начать?</div>
        <div class="cards">
            <div class="card red">
                <div class="small-header">Загрузите</div>
                <div style="text-align: left;">Для начала работы загрузите файл, содержащий аудио дорожку в любом из поддерживаемых форматов.</div>
                <div class="btn btn-primary" routerLink="/upload">Загрузить файл</div>
            </div>
            <div class="card violet">
                <div class="small-header">Расшифруйте</div>
                <div style="text-align: left;">Расшифруйте текст самостоятельно или сделайте это с помощью системы автоматического перевода голоса в текст.</div>
            </div>
            <div class="card blue">
                <div class="small-header">Пользуйтесь</div>
                <div style="text-align: left;">Скачайте Ваш текст или храните его на сайте. Кроме того, у воспользуйтесь возможностью экспорта проектов из файлов.</div>
            </div>
        </div>
    </div>
</div>
