<div class="center_block">
    <div *ngIf="state === conferenceState.Default">
        <div class="btn btn-primary" (click)="state = conferenceState.Create">
            Создать конференцию
        </div>
        <div class="btn btn-primary" (click)="state = conferenceState.Join">
            Подключиться к конференции
        </div>
        <div class="btn btn-secondary" (click)="state = conferenceState.GetText" style="margin-top: 50px;">
            Получить расшифровку
        </div>
    </div>
    <div *ngIf="state === conferenceState.Create">
        <div class="btn btn-secondary" (click)="state = conferenceState.Default" style="margin-bottom: 50px;">
            Назад
        </div>
        <input type="text" placeholder="Название конференции" #conferenceName>
        <input type="text" placeholder="Имя организатора" #organizatorName>
        <div class="btn btn-primary" (click)="create(conferenceName.value, organizatorName.value)">
            Создать
        </div>
    </div>
    <div *ngIf="state === conferenceState.Join">
        <div class="btn btn-primary" (click)="state = conferenceState.Default">
            Назад
        </div>
        <input type="text" placeholder="Номер конференции" #conferenceId>
        <input type="text" placeholder="Имя участника" #participantName>
        <div class="btn btn-primary" (click)="join(conferenceId.value, participantName.value)">
            Подключиться
        </div>
    </div>
    <div *ngIf="state === conferenceState.GetText">
        <div class="btn btn-primary" (click)="state = conferenceState.Default">
            Назад
        </div>
    </div>
</div>